<%= simple_form_for([@post, @post.comments.build]) do |f| %>

	<div class="field">
		<div class="control" style="width: 40%;">
			<%= f.input :name, input_html: { class: 'input' , placeholder: 'your name' }, required: true, validates: true, wrapper: false, label_html: {class:'label'} %>
		</div>
	</div>
	<div class="field">
		<div class="control" style="width: 40%;">
			<%= f.input :comment, input_html: { class: 'textarea', placeholder:'leave a comment' },required: true, wrapper: false, label_html: {class:'label'} %>
		</div>
	</div>
	<%= f.button :submit, class: "button is-warning" %>
<% end %>